body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: justify;
}
h2 {
    text-align: center;
}
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    gap: 3%;
}
a {
    padding-left: 70%;
}

@media (min-width: 541px) {
    img {
        width: 50%;
        height: 100%;
    }
    body {
        flex-direction: row;
    }
}
@media (max-width: 540px) {
    body {
        flex-direction: column;
    }
}